.contact_container {
  padding: 156px 16px;
  max-width: 736px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

p {
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #101828;
  margin-bottom: 20px;
}

.heading_description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #475467;
}

section {
  margin: 48px 0 94px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name_container {
  display: flex;
  gap: 24px;
}

.flex_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  /* border: 1px solid red; */
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* color: #344054; */
}
input {
  height: 44px;
  border-radius: 8px;
  padding: 0px 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #D0D5DD;
  /* color: #667085; */
}

input[type=checkbox] {
  height: max-content;
}

textarea {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  min-height: 132px;
  max-width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
}

.checkbox_item {
  display: flex;
  align-items: flex-start;
  height: max-content;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #475467;
}

#btn_submit {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #1570EF;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}


/* Mobile devices 575.98px and below */
@media (max-width: 575.98px) {
  .contact_container {
    padding: 64px 16px;
  }
  
  p {
    padding: 0;
    margin: 0;
  }
  
  .heading {
    margin-bottom: 16px;
  }

  .heading_description {
    font-size: 18px;
    line-height: 28px;
  }

  section {
    margin: 48px 0 66px 0;
  }
  
  .name_container {
    flex-direction: column;
  }

}
