.App {
  text-align: center;
  max-width: 1440px;
}

main {
  padding: 64px 0;
  max-width: 1152px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
}

.profile_img {
  height: 88px;
  width: 88px;
}


.name {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #101828;
  padding: 0;
  margin: 0;
}

.share_btn {
  position: absolute;
  left: 78.47%;
  top: -20px;
  display: block;
}

.share_btn_mobile {
  display: none;
}


/* Mobile View 575.98px and below */
@media (max-width: 575.98px) {
  main {
    padding: 64px 16px;
  }
  .share_btn {
    display: none;
  }
  .share_btn_mobile {
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    
  }
}
